/* 将入口页面特有的样式移到这里 */
.menu-button {
    position: fixed;
    right: calc(10% * var(--scale-ratio));
    top: 65%;
    transform: translate(0, -50%) scale(0);
    width: calc(300px * var(--scale-ratio));
    height: auto;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s ease;
}

.has-selected .menu-button {
    transform: translate(0, -50%) scale(1);
    opacity: 1;
}

.menu-button:hover {
    transform: translate(0, -50%) scale(1.1);
} 